.payment {
  width: 100%;
  display: flex;
  justify-content: center;
  form {
    width: 45%;
  }
  .underline {
    width: 15%;
    color: #6a35b8;
    background-color: #6a35b8;
    height: 3px;
    opacity: 1;
    border: none;
    border-radius: 10%;
    margin: 5px;
  }
}
