.ReviewCard {
    border-bottom: 1px solid lightgrey;
    padding: 20px 0;
    .titleContainer {
        display: flex;
        justify-content: space-between;
    }
    .reviewText {
        padding: 10px 0;
    }
}