@keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes dropFromTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .shoes-banner {
    position: relative;
    height: 60vh; 
    overflow: hidden;
    margin: -13px 0 30px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(196, 190, 190, 0.5); 
        z-index: -1;
      }
    .banner-image {
      width: 100%;
      height: auto;
      opacity: 0;
      transform: translateX(100%);
      animation: slideInFromRight 1s forwards;
      margin-left: 60px;
    }
  
    .banner-content {
      position: absolute;
      top: 30%;
      left: 5%;
      width: 40%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      opacity: 0;
      transform: translateY(-100%);
      animation: dropFromTop 1s forwards;
     
  
      h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }
  
      p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }
  
      .shop-now-btn {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #6A35B8;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: darken(#6A35B8, 10%);
        }
      }
    }
  }
  